* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px;


}
.nav div {
    display:flex;
    align-self: center;
    margin:10px;
    /*gap: 40px;*/

}
.nav div a {
    color: inherit;
    text-decoration: none;
}

#title {
    font-size: 56px;
    font-weight: 750;
}

#desc {
    color: gray;
    font-weight: 600;
    text-align: justify;
}

#intro {
    max-width: 32rem;
    margin: 50px;
}

.button {
    display: flexbox;
    margin: 0px 0px 0px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
}
#learn {
    background-color: lightgray;
}
#shop {
    background-color: gold;
}

.orangorang {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /*background-color: red;*/
    gap: -2px;
    padding: 10px;
    max-width: fit-content;
}

.orang {
    padding: 10px;
    border-radius: 50%;
}

#orang1 {
    background-color: yellow;
}
#orang2 {
    background-color: green;
}
#orang3 {
    background-color: blue;
}

#testi {
    padding-left: 10px;
}
main {
    padding: 40px 5% 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 48px;
}

.gambar {
    display: grid;
    grid-column: 2;
    grid-row: 1/4;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 110px;
    gap: 10px;
}
.gambar img:nth-child(2),
.gambar img:nth-child(3) {
    grid-row: span 2;
}
.gambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discover {
    display: flex;
    justify-content: center;
}

.discover img {
    width: 200%;
}

.discover h1 {
    margin: 30px;
}
